name: CI

on:
  pull_request:
  push:
    paths-ignore:
      - '**.md'
      - 'doc/*'
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
    steps:
      - name: Checkout reposistory
        uses: actions/checkout@v2.4.0
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Binary Python deps (fix gensim numpy)
        run: 'python -m pip install --only-binary=:all: -r src/python/requirements.txt'

      - name: Prepare tests
        run: 'make info deps'

      - name: Run tests
        run: 'make test'
        env:
          NO_TEST_MULTI_PROC_PIDS: 1
